<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:name=".core.di.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/roomifylonly"
        android:label="@string/app_name"
        android:roundIcon="@drawable/roomifylonly"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roomify"
        tools:targetApi="31">
        <activity
            android:name=".feature.product_detail.presentation.screens.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.auth.presentation.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".feature.auth.presentation.screen.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".feature.account.presentaition.screens.YourAccount"
            android:exported="false" />
        <activity
            android:name=".feature.orders.presentaition.screens.YourOrders"
            android:exported="false" />
        <activity
            android:name=".feature.about.presentaition.screens.AboutApp"
            android:exported="false" />
        <activity
            android:name=".feature.support.presentaition.screens.CustomerSupport"
            android:exported="false" />
        <activity
            android:name=".feature.terms.presentaition.screens.TermsAndConditions"
            android:exported="false" />
        <activity
            android:name=".feature.settings.presentaition.screens.ChooseTheme"
            android:exported="false" />
        <activity
            android:name=".feature.settings.presentaition.screens.ChooseLanguage"
            android:exported="false" />
        <activity android:name=".feature.auth.presentation.screen.LoginActivity"
            android:exported="false"/>
        <activity android:name=".feature.auth.presentation.screen.RegisterActivity"
            android:exported="false"/>
        <activity
            android:name=".feature.splash.presentaition.screens.StartSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>